
# --------------------------------------------------------------
# NERDTree
# --------------------------------------------------------------
[[plugins]]
repo = 'scrooloose/nerdtree'
hook_add = '''
  let NERDTreeShowHidden=1
    nnoremap <silent><C-e> :NERDTreeFind<CR>:vertical res 30<CR>
'''


# --------------------------------------------------------------
# gitgutter
# --------------------------------------------------------------
[[plugins]]
repo = 'airblade/vim-gitgutter'
hook_add = '''
    set signcolumn=yes
    let g:gitgutter_async = 1
    let g:gitgutter_sign_modified = 'rw'
    highlight GitGutterAdd ctermfg=green
    highlight GitGutterChange ctermfg=yellow
    highlight GitGutterDelete ctermfg=red
    highlight GitGutterChangeDelete ctermfg=yellow
'''


# --------------------------------------------------------------
# rainbow
# --------------------------------------------------------------
[[plugins]]
repo = 'luochen1990/rainbow'
hook_add = '''
    let g:rainbow_active = 1
'''


# --------------------------------------------------------------
# coc.dein
# --------------------------------------------------------------
[[plugins]]
repo = 'neoclide/coc.nvim'
rev = 'release'
build = '''
  git checkout release
'''
hook_add = '''
    inoremap <silent><expr> <cr> pumvisible() ? coc#_select_confirm() : "\<C-g>u\<CR>\<c-r>=coc#on_enter()\<CR>"

    set hidden
    set nobackup
    set nowritebackup

    set shortmess+=c
    if has("nvim-0.5.0") || has("patch-8.1.1564")
      set signcolumn=number
    else
      set signcolumn=yes
    endif

    inoremap <silent><expr> <TAB>
          \ pumvisible() ? "\<C-n>" :
          \ <SID>check_back_space() ? "\<TAB>" :
          \ coc#refresh()
    inoremap <expr><S-TAB> pumvisible() ? "\<C-p>" : "\<C-h>"

    function! s:check_back_space() abort
      let col = col('.') - 1
      return !col || getline('.')[col - 1]  =~# '\s'
    endfunction

    inoremap <silent><expr> <cr> pumvisible() ? coc#_select_confirm()
                                  \: "\<C-g>u\<CR>\<c-r>=coc#on_enter()\<CR>"


    nmap <silent> gd <Plug>(coc-definition)
    nmap <silent> gy <Plug>(coc-type-definition)
    nmap <silent> gi <Plug>(coc-implementation)
    nmap <silent> gr <Plug>(coc-references)
'''


# --------------------------------------------------------------
# lexima
# --------------------------------------------------------------
[[plugins]]
repo = 'cohama/lexima.vim'


# --------------------------------------------------------------
# night-owl
# --------------------------------------------------------------
[[plugins]]
repo = 'haishanh/night-owl.vim'
hook_add = '''
    syntax enable
    set termguicolors
    set background=dark
    colorscheme night-owl
    let g:lightline = { 'colorscheme': 'nightowl' }
'''

